@{
    ViewData["Date"] = "DatePicker Page";
}

<div id="app"
     class="text-center"
     style="display: none">
    <label>{{initialDate}}</label><br>
    <jquery-ui-datepicker v-model="initialDate"></jquery-ui-datepicker>
</div>

@section Scripts
{
  <script src="https://unpkg.com/vue@next"></script>

  <script>
      const RootComponent = {
        data() {
          return {
            initialDate: "2020-12-31",
          };
        },
      };

      const app = Vue.createApp(RootComponent);

      app.component("jquery-ui-datepicker", {
        data() {
          return {
              datePickerDom : null,
          }
        },
        mounted() {

        },
        props: {
          modelValue: String
        },
        computed: {
           selectDate: {
             get(){
               return this.modelValue;
             },
             set(v){
               this.$emit('update:modelValue', v);
             }
           }
        },
        template: `<input type="date" id="datepicker" v-model="selectDate" />`,
      });

      const vm = app.mount('#app');
      document.getElementById("app").style.display = "block";
    </script>
}
