<div id="app"
     class="text-center"
     style="display: none">
    <label>{{initialDate}}</label><br>
    <datepicker v-model="initialDate"></datepicker>
</div>

@section Scripts
{
  <script src="https://unpkg.com/vue@next"></script>

  <script>
      const { createApp, ref, onMounted, computed } = Vue;

      const app = createApp({
        setup(){

          const initialDate = ref("2020-12-31");

          return {
            initialDate
          }
        }
      });

      app.component("datepicker", {
        data() {
          return {
              datePickerDom : null,
          }
        },
        mounted() {

        },
        props: {
          modelValue: String
        },
        computed: {
           selectDate: {
             get(){
               return this.modelValue;
             },
             set(v){
               this.$emit('update:modelValue', v);
             }
           }
        },
        template: `<input type="date" id="datepicker" v-model="selectDate" />`,
      });

      const vm = app.mount('#app');
      document.getElementById("app").style.display = "block";
    </script>
}
