@{
    ViewData["Title"] = "Home Page";
}

<a asp-area="" asp-controller="DatePicker" asp-action="Index">DatePicker</a><br>
<a asp-area="" asp-controller="Counter" asp-action="Index">Counter</a><br>
<a asp-area="" asp-controller="ProvideInject" asp-action="Index">ProvideInject</a><br>
<a asp-area="" asp-controller="Slot" asp-action="Index">Slot</a><br>
<a asp-area="" asp-controller="Table" asp-action="Index">Table</a><br>
<a asp-area="" asp-controller="Form" asp-action="Index">Form</a><br>
