<div id="app"
     class="text-center"
     style="display: none">
    <label>{{counter}}</label>
    <br>
    <button v-on:click="plusCounter">Plus Counter</button>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@next"></script>

    <script>
      const { createApp } = Vue;

      const app = createApp({
        setup(){
          let counter = 0;

          const plusCounter = function () {
            // 加了之後，不會反映至 Template 中
            counter ++;

            console.log('counter', counter);
          }

          return {
            counter,
            plusCounter,
          }
        },
      });

      const vm = app.mount('#app');
      document.getElementById("app").style.display = "block";
    </script>
}
