<div id="app"
     class="text-center"
     style="display: none">
  <label>{{counterObj.counter}}</label><br>
  <button @@click="plusCounter" >Plus Counter</button>
</div>

@section Scripts
{
  <script src="https://unpkg.com/vue@next"></script>

  <script>
      const { createApp, reactive } = Vue;

      const RootComponent = {
        setup(){
          const counterObj = reactive({
            counter : 0
          });

          const plusCounter = function () {
            console.log('plusCounter');

            // 加了之後，會反映至 Template 中
            counterObj.counter ++;
          }

          return {
            counterObj,
            plusCounter,
          }
        },
      };

      const app = createApp(RootComponent);

      const vm = app.mount('#app');
      document.getElementById("app").style.display = "block";
    </script>
}
