@model ComplexViewModel


<table class="table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    @for (int categoryIndex = 0; categoryIndex < Model.Categories.Length; categoryIndex++)
    {
        @for (int itemIndex = 0; itemIndex < Model.Categories[categoryIndex].Items.Length; itemIndex++)
        {
            <tr>
                @if (itemIndex == 0)
                {
                    <td class="align-middle"
                        rowspan="3">
                        @Model.Categories[categoryIndex].Name
                    </td>
                }

                <td>
                    @Model.Categories[categoryIndex].Items[itemIndex].Name
                </td>
                <td>
                    @Model.Categories[categoryIndex].Items[itemIndex].Value
                </td>
            </tr>
        }
    }
    </tbody>
</table>
<br />
<a href="@ViewBag.ReturnUrl?.ToString()">回上一頁</a>
