@model AspNetCoreMvcWithLightVue.Controllers.Item

<div class="form-inline">
    <label asp-for="Id" class="control-label col-md-2"></label>
    <input asp-for="Id" class="form-control col-md-4" />
</div>
<div class="form-inline">
    <label asp-for="Name" class="control-label col-md-2"></label>
    <input asp-for="Name" class="form-control col-md-4" />
</div>
