@model AspNetCoreMvcWithLightVue.Controllers.ComplexViewModel

<style>
    .custom-category-style
    {
        padding-top: 10px !important;
        padding-bottom: 10px !important;

        padding-left: 80px !important;
    }
    .form-inline
    {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
</style>

<h4>ComplexViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="PostStyle1" method="post">
            @for (int i = 0; i < Model.Categories.Length; i++)
            {
                <partial name="CategoryView"
                         for="@Model.Categories[i]" />
            }
            <div class="form-group">
                <input type="submit"
                       value="Save"
                       class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{

}
